.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal .slides {
    text-align: left;
    line-height: 80%;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
    line-height: 80%;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

#harttext {
    line-height: 80%;
    text-align: left;
    color: #2e5aa0;
   font-size:50%;
}
