#harttext {
    line-height: 80%;
    text-align: left;
    color: blue ;
    font-size:60% ;
}

.reveal section img {
  border: 0;
  box-shadow: none;
  align: "middle";
}
.reveal .slides {
    text-align: left;
    line-height: 80%;
}
