#harttext {
    line-height: 80%;
    text-align: center;
    color: blue ;
    font-size:60% ;
}

.reveal section img {
  border: 0;
  box-shadow: none;
  align: "middle";
}

.reveal .slides {

    line-height: 80%;
}

